{# Loads extra template tags for processing navigation #}
{% load base_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Icebox: Collaborative, Extra-Realtime, 2nd Generation B2CBC2 Editing</title>
        <!-- Jquery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    	<script type="text/javascript" src="/static/js/jquery-templates/jquery.tmpl.js"></script>
    	<script type="text/javascript" src="/static/js/jquery-templates/jquery.tmpl.min.js"></script>
    	
        <!-- Orbited and stomp for long polling -->
        <script src="/static/js/orbited/Orbited.js"></script>
        <script src="/static/js/stomp/stomp.js"></script>
    	
    	<!-- WMD WYSIWG Editor -->
    	<script type="text/javascript" src="/static/js/wmd.js"></script>
    	<script type="text/javascript" src="/static/js/showdown.js"></script>
    	
    	<!-- Mobwrite Sync -->
    	<SCRIPT SRC="/static/js/diff_match_patch.js"></SCRIPT>
        <SCRIPT SRC="/static/js/mobwrite/mobwrite_core.js"></SCRIPT>
        <SCRIPT SRC="/static/js/mobwrite/mobwrite_form.js"></SCRIPT>
        
        <!-- facebox -->
        <SCRIPT SRC="/static/js/facebox.js"></SCRIPT>
    	
    	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css" rel="stylesheet" />
    	<link type="text/css" href="/static/css/wmd.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/icebox_all.css" rel="stylesheet"/>
		<link type="text/css" href="/static/css/icebox_header.css" rel="stylesheet"/>
		<link type="text/css" href="/static/css/icebox_note.css" rel="stylesheet"/>
		<link type="text/css" href="/static/css/sidebar.css" rel="stylesheet"/>
		<link type="text/css" href="/static/css/facebox.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="wrap">
                    <div id="logo">
                        <a href="/">
                        <div id="logo-image"></div>
                        <h1>Icebox</h1>
                        </a>
                    </div>
                    <div class="clearfloat"></div>
                </div>
            </div>

            <div id="content">
                {% if not note.no_edit %}
                <div class="nav-column">
                      <ul id="global-nav">
                        <li><a class="{% navactive request 'activity' %}" href="{% url activity %}">Latest activity</a></li>
                        <li><a class="{% navactive request 'index' %}" href="{% url index %}">My Notes</a></li>
                        <li><a class="{% navactive request 'collaborators' %}" href="{% url collaborators %}">Collaborators</a></li>
                      </ul>
                      <script>
                      $(function() {
                         $("#create-note-button").bind("click", function() {
                            window.location.href = $(this).attr("data-href"); 
                         });
                      });
                      </script>
                      <div class="menu-container">
                          <button class="page-action" id="create-note-button" data-href="/editor">
                              <span>Create New Note</span>
                          </button>
                      </div>
                      {% block nav-column-extra %}
                      {% endblock %}  
                </div>
                {% endif %}
                
                {# these two should be used for two column displays #}
                {% block content %}
                {% endblock %}
                {% block right-column %}
                {% endblock %}
                
                {# script for refreshing content of sidebar #}
                
            </div>
        </div> 
		

    </body>
</html>
