{% extends "base.html" %}

{% block content %}
<div id="left-column">
<script>
    // set the orbited settings and port
    
    Orbited.settings.port = 9000;
    //Orbited.settings.hostname = "localhost";
    
    //Orbited.settings.streaming = false;
    TCPSocket = Orbited.TCPSocket;
    document.domain = document.domain;

    function add_message(msg) {
        $("<p>" + msg["message"] + "</p>").appendTo("#messages")
    };
    $(document).ready(function() {
        stomp = new STOMPClient();
        stomp.onopen = function(){
            //console.log("opening stomp client");
        };
        stomp.onclose = function(c){
            alert('Lost Connection, Code: ' + c);
        };
        stomp.onerror = function(error){
            alert("Error: " + error);
        };
        stomp.onerrorframe = function(frame){
            alert("Error: " + frame.body);
        };
        stomp.onconnectedframe = function(){
            console.log("Connected. Subscribing");
            //alert("subscribing");
            var note_id = $("#save").attr("attr-note_id");
            stomp.subscribe("/messages-" + note_id);
        };
        stomp.onmessageframe = function(frame){
            // Presumably we should only receive message frames with the
            // destination "/topic/message" because that's the only destination
            // to which we've subscribed. To handle multiple destinations we
            // would have to check frame.headers.destination.
            add_message($.parseJSON(frame.body));
        };
        stomp.connect('localhost', 61613);
    });
</script>
{% if not note %}
NOTE NOT FOUND
{% else %}
<div id="messages"></div>
<div>
<b>Edit this board:</b>
<br/><br/>
Title:<br>
<input type="text" name="title" id="title-{{ note.pk }}" style="width:660px;" value="{{ revision.title }}"/>
<div id="notes-button-bar"></div>
<textarea class="note-editor" id="notes-{{ note.pk }}" style="width:660px; height: 200px">{{ revision.text }}</textarea>
<br />
<!-- Preview:
<div id="notes-preview"></div> -->
<a href="#saving" id="save" attr-note_id="{{ note.pk }}">Save</a>
<a id="view" href="/note/{{ note.pk }}">View</a>
<br />
<div id="note"></div>
</div>

<script type="text/javascript">
$("#save").bind("click", function() {
    var note_id = $(this).attr("attr-note_id");
    var text = encodeURIComponent($("#notes-" + note_id).val());
    var title = encodeURIComponent($("#title-" + note_id).val());
    var html = encodeURIComponent($("#note").html());
    
    $("#save").html("Saving...");
    
    $.ajax({
        type: "POST",
        url: "/ajax/save_note",
        data: "note_id=" + note_id + "&text=" + html + "&title=" + title,
        success: function(result){
             //var json = $.parseJSON(result);
             //response(json);
             $("#save").html("Save");
        },
         error: function(jqXHR, textStatus, error){
             //console.log(jqXHR);
        }
    });
});
  new WMDEditor({
      input: "notes-{{ note.pk }}",
      button_bar: "notes-button-bar",
      preview: "note",
      //output: "copy_html",
      buttons: "bold italic link ol ul heading code quote image",
      modifierKeys: false,
      autoFormatting: false,
  });

  $(function() {
     mobwrite.share('notes-{{ note.pk }}');
  });
</script>

{% endif %}
{% endblock %}

{% block nav-column-extra %}
<div class="sim-items">
    <h4 class="right-column-title">Similar Notes</h4>
    <ul id="sugg_list" class="suggestion-list"></ul>
    
    <h4 class="right-column-title">Similar Documents</h4>
</div>

<script id="suggNoteTemplate" type="text/x-jquery-tmpl">
  <li class="list-element">
    <a class="list-clickable" href="editor?note_id=${rev_id}">
      <span class="list-element-title"->${rev_title}</span><br/>
      <span class="list-element-body">Collaborators: ${collab_text}</span>
    </a>
  </li>
</script>

<script type="text/javascript">
  var note_id = document.getElementById("save").getAttribute("attr-note_id");
  var text_area = $("#notes-" + note_id);
  var title_input = $("#title-" + note_id);
  var last_text = "";
  
  refresh_suggestions();
  setInterval("refresh_suggestions()", 5000);
  
  
function refresh_suggestions() {
    var cur_text = text_area.val()
    if (last_text == cur_text) return;
    
    var text = encodeURIComponent(cur_text);
    var title = encodeURIComponent(title_input.val());
    
    $.ajax({
        type: "POST",
        url: "/notesims",
        data: "note_id=" + note_id + "&text=" + text,
        success: function(result) {
             sugg_list = $("#sugg_list");
              sugg_list.html("");
             var sim_notes = $.parseJSON(result);
              num_notes = sim_notes.length;
             for (var i = 0; i < num_notes; i++) {
                note_rev = sim_notes[i].fields;
                $("#suggNoteTemplate").tmpl({'rev_id':note_rev.note, 'rev_title':note_rev.title}).appendTo(sugg_list);
             }
             
             last_text = cur_text
        },
         error: function(jqXHR, textStatus, error){
             //console.log(jqXHR);
        }
    });
};
</script>
{% endblock %}