{% extends "base.html" %}

{% block content %}
<div>
<div id="notes-button-bar"></div>
<textarea id="notes" attr-doc_id="{{ doc_id }}" style="width:500px; height: 500px"></textarea>
<br />
Preview:
<div id="notes-preview"></div>
<br />
Output:
<textarea type="text" name="copy_html" value="" id="copy_html" style="width:500px; height: 500px"></textarea>
</div>

<script type="text/javascript">
  new WMDEditor({
      input: "notes",
      button_bar: "notes-button-bar",
      preview: "notes-preview",
      output: "copy_html",
      buttons: "bold italic link ol ul heading code quote image",
      modifierKeys: false,
      autoFormatting: false
  });
  $(function() {
      mobwrite.share('notes');
  });
</script>
{% endblock %}