{% extends "base.html" %}

{% block content %}
<div id="left-column">
    <h1>{{ note.revisions.0.title }}</h2><br />
    <div id="note">
        {{ note.revisions.0.text|safe }}
    </div>
</div>
{% endblock %}

{% block right-column %}
<script>
$(function() {
    $(".switch-rev").bind("click", function() {
       var html = $(this).next("div").html(); 
       $("#note").html(html);
    });
});
</script>
<div id="right-col">
	<div id="version-wrap">
    	<h5 class="right-column-header">Versions</h5>
    	{% for rev in note.revisions %}
        	<a class="switch-rev" href="#switch">{{ rev.created }}</a>
        	<div style="display:none;">
            	{{ rev.text|safe }}
	        </div>
			<div id="switch-rev-meta">
				<span id="rev-owner">By {{ rev.collaborators.0.email }}</span>
			</div>
    	    <br/>
    	{% endfor %}
    	<script>
          $(function() {
             $("#edit-note-button").bind("click", function() {
                window.location.href = $(this).attr("data-href"); 
             });
          });
          </script>
          <div class="menu-container">
              <button id="edit-note-button" class="page-action no-icon" data-href="/editor?note_id={{ note.pk }}">
                  <span>Edit this Note</span>
              </button>
          </div>
	</div>

</div>
{% endblock %}
