{% extends "base.html" %}

{% block content %}
<div id="left-column"  {% if note.no_edit %}style="width:920px"{% endif %}>
    <h1>{{ note.revisions.0.title }}</h2><br />
    <div id="note">
        {{ note.revisions.0.text|safe }}
    </div>
</div>
{% endblock %}

{% block right-column %}
<script>
$(function() {
    $(".switch-rev").bind("click", function() {
       var html = $(this).next("div").html(); 
       $("#note").html(html);
    });
});
</script>
<div id="right-col">
	<div id="version-wrap">
    	<h5 class="right-column-header">Versions</h5>
    	{% for rev in note.revisions %}
        	<a class="switch-rev" href="#switch">{{ rev.created }}</a>
        	<div style="display:none;">
            	{{ rev.text|safe }}
	        </div>
			<div id="switch-rev-meta">
				<span id="rev-owner">By {{ rev.collaborators.0.email }}</span>
			</div>
    	    <br/>
    	{% endfor %}
    	<script>
          $(function() {
             $("#edit-note-button").bind("click", function() {
                window.location.href = $(this).attr("data-href"); 
             });
             
             $("#public").bind("click", function() {
                 var make_public = 0;
                 if( $(this).is(':checked') )
                    make_public = 1;
                var note_id = $(this).attr("data-note-id");
                $(".public-label").html("Changing status...")
                
                $.ajax({
                    type: "POST",
                    url: "/ajax/change_note_status",
                    data: "note_id=" + note_id + "&public=" + make_public,
                    success: function(result){
                     //var json = $.parseJSON(result);
                     //response(json);
                     $(".public-label").html("Public")
                    },
                    error: function(jqXHR, textStatus, error){
                     //console.log(jqXHR);
                    }
                });
                
             })
          });
          </script>
          {% if not note.no_edit %}
          <div class="menu-container">
              <button id="edit-note-button" class="med-button page-action no-icon" data-href="/editor?note_id={{ note.pk }}">
                  <span>Edit this Note</span>
              </button>
          </div>
          <div style="padding: 10px; border-top: 1px solid #EFEFEF; margin-top: 10px">
              <input name="public" id="public" data-note-id="{{ note.pk }}" type="checkbox" {% if note.isPublic %}checked="yes"{% endif %}/><label for="public" class="public-label">Public</label>
          </div>
          {% endif %}
	</div>

</div>
{% endblock %}
