hr {
    color: #B8B8B8;
}
.suggestion-list {
    list-style-type: none;
    margin: 0 0 20px 0;
}

.sim-items {
    padding-top: 15px;
}

.list-element {
    padding-bottom: 3px;
}

.list-clickable {
    padding: 5px;
    display: block;
    text-decoration: none;
}

.list-clickable:hover {
    background-color: #FFFFCC;
    color: white;
}

.list-element-content {
    list-style-type: none;
    padding:-10px;
}

.list-element-content li {
    margin:-5px 0 -5px 0;
}

.list-element-title {
    color: black;
    font-size: 10pt;
}

.list-element-snippet {
    color: black;
    font-size: 8pt;
    font-weight: normal;
}

.list-element-collab {
    color: #595959;
    font-size: 8pt;
}

.right-column-title {
    font-size: 11pt;
    color: #707070;
}

#right-column {
    width: 220px;
    margin: 30px 10px 0 30px;
    padding: 5px;
}

.none-found {
    color: #595959;
    font-size:9pt;
    padding: 5px;
}