hr {
    color: #B8B8B8;
}
.suggestion-list {
    list-style-type: none;
    margin: 0 0 20px 0;
}

.sim-items {
    padding-top: 15px;
}

.list-element {
    padding-bottom: 3px;
}

.list-element p {
}

.list-clickable {
    padding: 5px;
    display: block;
    text-decoration: none;
}

.list-clickable:hover {
    background-color: #FFFFCC;
}

.list-clickable:hover .list-element-title {
    text-decoration: underline;
}

.list-element-content {
    list-style-type: none;
}

.list-element-title {
    color: #5C3317;
    font-size: 10pt;
    font-weight: normal;
}

.list-element-snippet {
    color: #595959;
    font-size: 8pt;
    font-weight: normal;
    margin: 2px 0 3px 0;
}

.list-element-collab {
    color: black;
    font-size: 8pt;
    font-weight: normal;
}

.right-column-title {
    font-size: 11pt;
    color: #707070;
}

#right-column {
    width: 220px;
    margin: 30px 10px 0 30px;
    padding: 5px;
}

.none-found {
    color: #595959;
    font-size:9pt;
}